body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #fdfcfb;
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #e6e6e6;
    position: fixed ;
    width: 95%;
    top: 0;
    z-index:1000;
    background-color: #fdfcfb; 
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    background-image: url('../assets/istockphoto-1053936212-1024x1024.jpg');
background-size: cover; 
background-repeat: no-repeat; 
background-position: center; 
height: 100vh;
color: #000000;
}
.form  h1 {
    color: #000000; 
    font-size: 30px;
    margin-bottom: 0px;
    margin-top : 80px; 
    text-align: center; 
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 80px;
}
label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}