<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comment System</title>
  <link rel="stylesheet" href="..//assets/css/comment.css">
</head>
<body>

  <div class="comment-box">
    <h2>Leave a Comment</h2>
    <textarea id="commentInput" placeholder="Type your comment here..."></textarea>
    <button onclick="submitComment()">Submit</button>
  </div>

  <div id="commentsContainer">
    <h3>All Comments</h3>

  </div>

  <script src="..//assets/js/comment.js"></script>
</body>
</html>
