<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Platform</title>
    <link rel="stylesheet"  href="home.css">
</head>
<body>
    <header>
        <div class="logo">Blogging</div>
        <nav>
            <a href="#">Our story</a>
            <a href="Newsltrsignup.html">Membership</a>
            <a href="#">Write</a>
            <a href="login form.html">Sign in</a>
            <a href="#" class="started">Get started</a>
        </nav>
    </header>
    <section class="content">
        <h1>Explore stories & ideas</h1>
        <p>A place to read, write, and deepen your understanding</p>
        <a href="#" class="btn">Start reading</a>
        
    </section>
</body>
</html>