<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eclipta dashboard</title>
</head>
<body>
    <link rel="stylesheet" href="../assets/css/tagging.css">
    <section class="tags">
        <h2>🏷️ Add Tags</h2>
        <input type="text" id="tagInput" placeholder="Add a tag..." />
        <button class="btn" onclick="addTag()">Add Tag</button>
        <div id="tagContainer"></div>
      </section>
        <script src="../assets/js/tagging.js"></script>      
</body>
</html>